.dr {
    .block {
        .block-content {
            max-width: 60em;
        }
    }
    
    .photo-container {
        float: left;
        margin: 0 2rem 2rem 0;
        position: relative;
        width: 40%;
        
        img {
            @include box-shadow();
            margin: 5% 0 5% 15%;
            position: relative;
            width: 85%;
            z-index: 1;
        }
        
        .img-bg {
            height: 100%;
            left: 0;
            top: 0;
            width: 90%;
        }
    }
    
    .top-text-container {
        width: 60%;
    }
    
    @media screen and (max-width: $med) {
        .photo-container {
            float: none;
            margin: 0 auto 2rem;
            max-width: 30em;
            width: 100%;
            
            img {
                margin: 0;
                width: 100%;
            }
            
            .img-bg {
                display: none;
            }
        }
        
        .top-text-container {
            width: 100%;
        }
    }
}