.financial {
    .block-financial {
        h2,
        p {
            margin: 1.5rem 0 0;
        }
        
        .subtitle {
            font-size: 1.3rem;
            text-align: center;
        }
    }
}