.home {
  .block-video {
    .video-container {
      margin: auto;
      max-width: 45em;
    }
    
    .video-wrapper {
    	position: relative;
    	padding-bottom: 55.5%; /* 16:9 */
    	padding-top: 25px;
    	height: 0;
    	
    	iframe {
    	  height: 100%;
    	  left: 0;
    	  padding: 5% 10% 5% 0;
      	position: absolute;
      	top: 0;
      	width: 100%;
      }
      
      .img-bg {
        height: 100%;
        right: 0;
        top: 0;
        width: 90%;
      }
    }
    
    .video-header {
      max-width: 30em;
    }
  }
  
  .border-left {
    border-left: 4px solid $primary;
    border-radius: 2px;
    margin: auto;
    padding: 0 0 0 2rem;
    width: 90%;
  }
  
  .header {
    position: relative;
    
    .header-img {
      background-color: $primary;
      background-image: url('../images/zick-header.JPG');
      background-position: 0 73%;
      background-repeat: no-repeat;
      background-size: cover;
      height: calc(100vh - #{$nav-height} - 8em);
      margin-top: 8em;
      opacity: 1;
      transition: 2s opacity ease;
      
      img {
        display: none;
        visibility: hidden;
      }
      
      &.preload {
        opacity: 0;
      }
    }
    
    .header-top {
      align-items: center;
      background: $white;
      bottom: 0;
      box-shadow: 0 0 20px 3px rgba(0,0,0,.5);
      color: $white;
      display: flex;
      height: 8em;
      justify-content: space-evenly;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: $top-bar-z;
      
      .logo {
        height: 100%;
        width: auto;
      }
      
      &.fixed-top {
        position: fixed;
        top: 0;
      }
    }
    
    .info {
      background: $white;
      border-radius: 24px;
      @include box-shadow();
      max-width: 21em;
      right: 7%;
      padding: 1.5em;
      position: absolute;
      text-align: center;
      top: 10%;
      transition: .3s right ease;
      
      a {
        color: $accent;
      }
    }
  }
  
  .nav {
    &.relative {
      position: relative;
      
      + .main {
        margin-top: 0;
      }
    }
  }
  
  .welcome {
    .bottom-text {
      max-width: 30em;
    }
    
    .show-on-mobile {
      .staff-photo {
        @include box-shadow();
      }
    }
    
    .staff-photo {
      position: relative;
      
      img {
        @include box-shadow();
        margin: 10% 0 20% 10%;
        position: relative;
        width: 90%;
        z-index: 1;
      }
      
      .img-bg {
        height: 100%;
        left: 0;
        top: 0;
        width: 60%;
      }
    }
  }
  
  @media screen and (max-width: 1000px) {
    .header {
      .info {
        right: 50%;
      }
    }
  }
  
  @media screen and (max-width: $med) {
    .block-video {
      .video-container {
        @include box-shadow();
      }
      
      .video-wrapper {
      	iframe {
      	  padding: 0;
        }
        
        .img-bg {
          display: none;
        }
      }
    }
    
    .header {
      .header-img {
        background-attachment: unset;
        background-size: 100% auto;
        height: auto;
        margin-top: 6em;
        
        img {
          display: inline-block;
        }
      }
    
      .header-top {
        display: none;
      }
      
      .info {
        display: none;
      }
    }
    
    .nav {
      + .main {
        margin-top: 0;
      }
      
      &.relative {
        position: fixed;
      }
    }
  }
}