.home {
  .header {
    .header-img {
      background-attachment: fixed;
      background-image: url('/images/pexels-photo.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: calc(100vh - (#{$nav-height} * 2));
      opacity: 1;
      transition: 2s opacity ease;
      
      &.preload {
        opacity: 0;
      }
    }
    
    .header-top {
      align-items: center;
      background: $dark-gray;
      box-shadow: 0 0 20px 3px rgba(0,0,0,.5);
      color: $white;
      display: flex;
      height: $nav-height;
      justify-content: space-evenly;
      position: relative;
      text-align: center;
      z-index: 1;
    }
  }
  
  .nav {
    position: static;
    width: 100%;
    
    & + .block {
      margin-top: 0;
    }
    
    &.fixed-top {
      position: fixed;
      top: 0;
      
      & + .block {
        margin-top: $nav-height;
      }
    }
  }
  
  .welcome {
    background: $dark-gray;
    color: $gold;
    
    .bottom-text {
      max-width: 30em;
    }
  }
}