.patient-forms {
    h2 {
        font-size: 1.3rem;
        margin: 1.5rem 0 0;
        text-align: center;
    }
    
    .description {
        max-width: 35em;
    }
    
    .form-buttons {
        p {
            text-align: center;
        }
        
        .form-button {
            background: $primary;
            border: 4px solid $secondary-trans;
            @include box-shadow();
            display: inline-block;
            font-size: 1.3rem;
            font-weight: bold;
            margin: auto;
            max-width: 21em;
            padding: 1em .5em;
            width: 100%;
            
            &:hover {
                color: $text;
                background: $gold;
                box-shadow: none;
            }
        }
    }
    
    @media screen and (max-width: $med) {
        h2 {
            font-size: 1.7rem;
            margin: 2.5rem 0 0;
        }
    }
}