.services {
    .block-header {
        background: $white;
        
        .header-photo {
            position: relative;
            
            img {
                @include box-shadow();
                margin: 8% 5% 0 0;
                position: relative;
                width: 95%;
            }
            
            .img-bg {
                height: 25%;
                right: 0;
                top: 0;
                width: 35%;
            }
        }
        
        .text-cont {
            background: $primary;
            border-radius: 24px;
            margin: auto;
            max-width: 25em;
            padding: 2.5em;
        }
    }
    
    .block-services {
        .block-content {
            padding: 0;
            max-width: 90em;
        }
        
        .tile {
            background: $white;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @include box-shadow();
            cursor: pointer;
            height: 25em;
            margin: 1.5rem;
            position: relative;
            width: 25em;
            
            ul {
                font-size: 1.3em;
                list-style: initial;
                margin-left: 20px;
            }
            
            .cover {
                background: $dark-gray-trans;
                display: flex;
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                @include transition();
                width: 100%;
                
                .cover-button {
                    border-color: $primary;
                    cursor: pointer;
                    margin: auto;
                    z-index: 1;
                    
                    &:hover {
                        background-color: $primary;
                    }
                }
            }
            
            .invisalign-logo {
                width: 83%;
            }
            
            .more-info {
                background: rgba(30, 30, 30, .8);
                bottom: 0;
                cursor: auto;
                display: flex;
                height: 100vh;
                left: 0;
                opacity: 0;
                overflow: hidden;
                pointer-events: none;
                position: fixed;
                right: 0;
                top: 0;
                width: 100vw;
                z-index: $modal-z;
                
                .underline-link {
                    color: $accent;
                    cursor: pointer;
                }
                
                a, 
                p {
                    font-size: 2rem;
                }
                
                .close {
                    background: none;
                    border: none;
                    cursor: pointer;
                    font-size: 40px;
                    padding: 0 1.5rem;
                    position: absolute;
                    right: 0;
                    top: 0;
                    @include transition();
                    
                    &:hover {
                        color: $accent;
                        transform: scale(1.2);
                    }
                }
                
                .more-info-container {
                    background: $white;
                    border: 8px solid $secondary;
                    height: 75vh;
                    margin: auto;
                    max-width: 800px;
                    opacity: 0;
                    padding: 2em;
                    transform: scale(.4);
                    width: 90vw;
                }
                
                .more-info-text {
                    height: 85%;
                    overflow-y: auto;
                }
                
                .more-info-title {
                    font-size: 30px;
                    font-weight: bold;
                    margin-bottom: 2.5rem;
                    margin-right: 65px;
                    text-transform: capitalize;
                    width: calc(100% - 65px);
                }
                
                &.transition {
                    transition: .3s opacity ease;
                    
                    .more-info-container {
                        transition: .3s opacity ease, .3s transform ease;
                    }
                }
                
                &.active {
                    opacity: 1;
                    pointer-events: auto;
                    
                    .more-info-container {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
            
            .tile-title {
                background: $primary-trans;
                bottom: 1em;
                display: flex;
                height: 4em;
                left: 1em;
                overflow: hidden;
                padding: 0 1em;
                position: absolute;
                right: 1em;
                text-transform: uppercase;
                
                h3 {
                    margin: auto;
                    text-align: center;
                }
            }
            
            &::after {
                background: $white;
                content: "";
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                transition: 2s opacity ease;
                width: 100%;
            }
            
            &.no-cover {
                cursor: auto;
            }
            
            &.preload {
                &::after {
                    opacity: 1;
                }
            }
            
            &:hover {
                .cover {
                    opacity: 1;
                }
            }
        }
        
        /* Extraction */
        .tile-1 {
            background-image: url('/images/services/smile2Stock.jpg');
        }
        
        /* Jaw Pain */
        .tile-2 {
            background-image: url('/images/services/jawpain.jpg');
        }
        
        /* Dentures */
        .tile-3 {
            background-image: url('/images/services/denture.jpg');
        }
        
        /* Root Canal */
        .tile-4 {
            background-image: url('/images/services/rootcanal.png');
        }
        
        /* Crowns */
        .tile-5 {
            background-image: url('/images/services/crown.png');
        }
        
        /* Sleep Aid */
        .tile-6 {
            background-image: url('/images/services/prince-akachi-731123-unsplash.jpg');
        }
        
        /* Whitening */
        .tile-7 {
            background-image: url('/images/services/dani-vivanco-557423-unsplash.jpg');
        }
        
        /* Porcelain Veneers */
        .tile-8 {
            background-image: url('/images/services/serrah-galos-598535-unsplash.jpg');
        }
        
        /* Multi-Tooth Bonding */
        .tile-9 {
            background-image: url('/images/services/adorable-beautiful-black-and-white-325687.jpg');
        }
        
        /* Invisalign */
        .tile-10 {
            background-image: url('/images/services/invisalign-88.jpg');
        }
        
        /* Inlays and Onlays */
        .tile-11 {
            background-image: url('/images/services/umanoide-617690-unsplash.jpg');
        }
        
        /* Regular Cleaning */
        .tile-12 {
            background-image: url('/images/services/jon-tyson-265734-unsplash.jpg');
        }
        
        /* Digital Scanning */
        .tile-13 {
            background-image: url('/images/services/digital-scanning.png');
        }
        
        .tiles {
            align-items: center;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            position: relative;
        }
    }
    
    .block-testimonial {
        text-align: center;
        
        .btn {
            background: $primary;
            display: inline-block;
            margin: 0 0 0 2em;
            max-width: 10em;
            vertical-align: middle;
            
            &:hover {
                background: $accent;
            }
        }
        
        .reviewer {
            margin-top: .5em;
            text-align: right;
        }
        
        .text-cont {
            display: inline-block;
            max-width: 30em;
            vertical-align: middle;
        }
        
        .quote {
            font-style: italic;
        }
    }
    
    @media screen and (max-width: $med) {
        .block-header {
            .header-photo {
                img {
                    @include box-shadow();
                    padding: 0;
                }
            }
            
            .text-cont {
                @include box-shadow();
            }
        }
        
        .block-services {
            .tile {
                .tile-title {
                    padding: 0 .5em;
                }
            }
            
            .tiles {
                grid-template-columns: 50% 50%;
            }
        }
        
        .block-testimonial {
            .btn {
                @include box-shadow();
                margin: 2em 0 0 0;
                
                &:hover {
                    box-shadow: none;
                }
            }
            
            .text-cont {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    
    @media screen and (max-width: $sm) {
        .block-services {
            .tiles {
                grid-template-columns: 100%;
            }
        }
    }
}