.services {
    .block-header {
        background: $white;
        
        .header-photo {
            position: relative;
            
            img {
                @include box-shadow();
                margin: 8% 5% 0 0;
                position: relative;
                width: 95%;
            }
            
            .img-bg {
                height: 25%;
                right: 0;
                top: 0;
                width: 35%;
            }
        }
        
        .text-cont {
            background: $primary;
            border-radius: 24px;
            margin: auto;
            max-width: 25em;
            padding: 1.5em;
        }
    }
    
    .block-services {
        background: $primary;
        
        .block-content {
            padding: 0;
        }
        
        .tile {
            background: $white;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 22em;
            opacity: 1;
            padding: 1em;
            position: relative;
            
            .cover {
                background: $dark-gray-trans;
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                @include transition();
                width: 100%;
                
                .cover-text {
                    color: $primary;
                    line-height: 1.2;
                    margin: 2em auto auto;
                    text-align: center;
                    width: 90%;
                }
            }
            
            .tile-title {
                background: $primary-trans;
                bottom: 1em;
                display: flex;
                height: 4em;
                left: 1em;
                overflow: hidden;
                padding: 0 1em;
                position: absolute;
                right: 1em;
                
                h3 {
                    margin: auto;
                    text-align: center;
                }
            }
            
            &::after {
                background: $white;
                content: "";
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                transition: 2s opacity ease;
                width: 100%;
            }
            
            &.preload {
                &::after {
                    opacity: 1;
                }
            }
            
            &:hover {
                .cover {
                    opacity: 1;
                }
            }
        }
        
        .tile-1 {
            background-image: url('/images/services/dentaltoolsStock.jpg');
        }
        
        .tile-2 {
            background-image: url('/images/services/smileStock.jpg');
        }
        
        .tile-3 {
            background-image: url('/images/services/sleepingStock.jpg');
        }
        
        .tile-4 {
            background-image: url('/images/services/smile2Stock.jpg');
        }
        
        .tile-5 {
            background-image: url('/images/services/crownStock.jpg');
        }
        
        .tile-6 {
            background-image: url('/images/services/venneer2Stock.jpg');
        }
        
        .tiles {
            display: grid;
            grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
        }
    }
    
    .block-testimonial {
        text-align: center;
        
        .btn {
            background: $primary;
            display: inline-block;
            margin: 0 0 0 2em;
            max-width: 10em;
            vertical-align: middle;
            
            &:hover {
                background: $accent;
            }
        }
        
        .reviewer {
            margin-top: .5em;
            text-align: right;
        }
        
        .text-cont {
            display: inline-block;
            max-width: 30em;
            vertical-align: middle;
        }
        
        .quote {
            font-style: italic;
        }
    }
    
    @media screen and (max-width: $med) {
        .block-header {
            .header-photo {
                img {
                    @include box-shadow();
                    padding: 0;
                }
            }
            
            .text-cont {
                @include box-shadow();
            }
        }
        
        .block-services {
            .tile {
                .cover {
                    .cover-text {
                        font-size: 1.3em;
                    }
                }
                
                .tile-title {
                    padding: 0 .5em;
                }
            }
            
            .tiles {
                grid-template-columns: 50% 50%;
            }
        }
        
        .block-testimonial {
            .btn {
                @include box-shadow();
                margin: 2em 0 0 0;
                
                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
    
    @media screen and (max-width: $sm) {
        .block-services {
            .tiles {
                grid-template-columns: 100%;
            }
        }
    }
}