.team {
    .block-team {
        .arrow-left {
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent; 
            border-right: 10px solid $primary; 
            cursor: pointer;
            height: 0; 
            width: 0; 
        }
        
        .arrow-right {
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid $primary;
            cursor: pointer;
            height: 0; 
            width: 0; 
            
        }
        
        .slide-controls {
            top: 1em;
            left: 0;
            position: absolute;
            text-align: center;
            user-select: none;
            width: 100%;
            
            > * {
                display: inline-block;
                user-select: none;
                vertical-align: middle;
            }
            
            .slide-instruction {
                font-style: italic;
                margin: 0 1em;
                max-width: 225px;
            }
        }
    }
        
    .team-member {
        background: $primary;
        border-radius: 24px;
        box-shadow: 3px 5px 12px $dark-gray-trans;
        color: $text;
        margin-top: 2em;
        
        .bio {
            margin-top: .5em;
        }
        
        .description,
        .profile {
            display: inline-block;
            vertical-align: middle;
        }
        
        .description {
            padding: 2em 2em 2em 0;
            width: calc(100% - 16em);
        }
        
        .name {
            font-weight: bold;
        }
        
        .profile {
            padding: 2em;
            width: 16em;
            
            img {
                display: block;
            }
        }
        
        .role {
            font-style: italic;
        }
    }
    
    @media screen and (max-width: $med) {
        .block-team {
            height: calc(200vh - 6em);
            overflow: hidden;
            
            .block-content {
                height: 100%;
                padding: 0;
                width: 100%;
            }
        }
        
        .team-member {
            background: $white;
            border-radius: 0;
            @include box-shadow(none);
            left: 120vw;
            margin-top: 4em;
            position: absolute;
            top: 0;
            width: 100%;
            
            .bio {
                margin-top: 1em;
            }
            
            .description,
            .profile {
                display: block;
                margin: auto;
            }
            
            .description {
                padding: 0;
                width: 90%;
                
                p {
                    font-size: 1.3rem;
                }
            }
            
            .member-title {
                text-align: center;
            }
            
            .name,
            .role {
                font-size: 1.5rem;
            }
            
            .profile {
                width: 20em;
            }
        }
    }
}