@import url(https://fonts.googleapis.com/icon?family=Material+Icons);.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.p-auto {
  padding: auto;
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.pt-auto {
  padding-top: auto;
}

.pr-auto {
  padding-right: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.pl-auto {
  padding-left: auto;
}

.m-0 {
  margin: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.p-0 {
  padding: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.m-xs {
  margin: 0.5rem;
}

.mx-xs {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-xs {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mt-xs {
  margin-top: 0.5rem;
}

.mr-xs {
  margin-right: 0.5rem;
}

.mb-xs {
  margin-bottom: 0.5rem;
}

.ml-xs {
  margin-left: 0.5rem;
}

.p-xs {
  padding: 0.5rem;
}

.px-xs {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-xs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pt-xs {
  padding-top: 0.5rem;
}

.pr-xs {
  padding-right: 0.5rem;
}

.pb-xs {
  padding-bottom: 0.5rem;
}

.pl-xs {
  padding-left: 0.5rem;
}

.m-sm {
  margin: 1rem;
}

.mx-sm {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-sm {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-sm {
  margin-top: 1rem;
}

.mr-sm {
  margin-right: 1rem;
}

.mb-sm {
  margin-bottom: 1rem;
}

.ml-sm {
  margin-left: 1rem;
}

.p-sm {
  padding: 1rem;
}

.px-sm {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-sm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-sm {
  padding-top: 1rem;
}

.pr-sm {
  padding-right: 1rem;
}

.pb-sm {
  padding-bottom: 1rem;
}

.pl-sm {
  padding-left: 1rem;
}

.m-med {
  margin: 2rem;
}

.mx-med {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-med {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-med {
  margin-top: 2rem;
}

.mr-med {
  margin-right: 2rem;
}

.mb-med {
  margin-bottom: 2rem;
}

.ml-med {
  margin-left: 2rem;
}

.p-med {
  padding: 2rem;
}

.px-med {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-med {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt-med {
  padding-top: 2rem;
}

.pr-med {
  padding-right: 2rem;
}

.pb-med {
  padding-bottom: 2rem;
}

.pl-med {
  padding-left: 2rem;
}

.m-lg {
  margin: 3rem;
}

.mx-lg {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-lg {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-lg {
  margin-top: 3rem;
}

.mr-lg {
  margin-right: 3rem;
}

.mb-lg {
  margin-bottom: 3rem;
}

.ml-lg {
  margin-left: 3rem;
}

.p-lg {
  padding: 3rem;
}

.px-lg {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-lg {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-lg {
  padding-top: 3rem;
}

.pr-lg {
  padding-right: 3rem;
}

.pb-lg {
  padding-bottom: 3rem;
}

.pl-lg {
  padding-left: 3rem;
}

.m-xl {
  margin: 4rem;
}

.mx-xl {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-xl {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mt-xl {
  margin-top: 4rem;
}

.mr-xl {
  margin-right: 4rem;
}

.mb-xl {
  margin-bottom: 4rem;
}

.ml-xl {
  margin-left: 4rem;
}

.p-xl {
  padding: 4rem;
}

.px-xl {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-xl {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pt-xl {
  padding-top: 4rem;
}

.pr-xl {
  padding-right: 4rem;
}

.pb-xl {
  padding-bottom: 4rem;
}

.pl-xl {
  padding-left: 4rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.banner {
  background: #C6B46E;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6em;
}

.banner > * {
  margin: auto;
}

.block .block-content {
  margin: auto;
  max-width: 69rem;
  padding: 3em 2em;
  position: relative;
}

.btn {
  background: #fff;
  border: 2px solid #323232;
  color: #323232;
  cursor: pointer;
  font-size: 1.6rem;
  padding: .2em 1em;
  -webkit-transition: 0.15s all linear;
  transition: 0.15s all linear;
}

.btn:hover,
.btn.active {
  background: #323232;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.no-scroll {
  overflow: hidden;
}

.relative {
  position: relative;
}

.split-2 {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media screen and (max-width: 600px) {
  .split-2 {
    display: block;
    width: 100%;
  }
}

a {
  color: #323232;
  text-decoration: none;
}

a:hover {
  color: #C6B46E;
}

.underline-link {
  border-bottom: 2px solid transparent;
  color: #323232;
  padding-bottom: 3px;
  -webkit-transition: 0.15s all linear;
  transition: 0.15s all linear;
}

.underline-link:hover {
  border-color: #C6B46E;
  color: #C6B46E;
}

a,
p {
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.6em;
}

html {
  color: #323232;
  font-family: Times, serif;
  font-size: 12px;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
}

ul {
  list-style: none;
}

.footer {
  background: #49f;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em;
}

.modal {
  background: rgba(30, 30, 30, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  -webkit-transition: 0.15s all linear;
  transition: 0.15s all linear;
  width: 100vw;
  z-index: 10000;
}

.modal .modal-close {
  cursor: pointer;
  font-size: 3em;
  padding: 0 .25em;
}

.modal .modal-content {
  background: #fff;
  border-radius: 10px;
  margin: auto;
  max-width: 60em;
  opacity: 0;
  -webkit-transition: 0.15s all linear;
  transition: 0.15s all linear;
  width: 90%;
}

.modal .modal-body,
.modal .modal-footer,
.modal .modal-header {
  padding: 1em;
}

.modal .modal-footer {
  text-align: right;
}

.modal .modal-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal.active {
  opacity: 1;
  pointer-events: auto;
}

.modal.active .modal-content {
  opacity: 1;
}

.nav {
  background: #fff;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  height: 6em;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav .nav-link {
  display: inline-block;
}

.nav .nav-link.active a {
  border-bottom: 2px solid #C6B46E;
  color: #C6B46E;
}

.nav .nav-links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  max-width: 83em;
}

.nav + .main .block:first-child {
  margin-top: 6em;
}

.home .header {
  position: relative;
}

.home .header .header-img {
  background-attachment: fixed;
  background-image: url("/images/pexels-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - (6em * 2));
  margin-top: 6em;
  opacity: 1;
  -webkit-transition: 2s opacity ease;
  transition: 2s opacity ease;
}

.home .header .header-img.preload {
  opacity: 0;
}

.home .header .header-top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #323232;
  bottom: 0;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 999;
}

.home .header .header-top .logo {
  height: 100%;
  width: auto;
}

.home .header .header-top.fixed-top {
  position: fixed;
  top: 0;
}

.home .nav {
  position: static;
  width: 100%;
}

.home .nav + .main .block:first-child {
  margin-top: 0;
}

.home .nav.fixed-top {
  position: fixed;
  top: 0;
}

.home .nav.fixed-top + .main .block:first-child {
  margin-top: 6em;
}

.home .welcome {
  background: #323232;
  color: #C6B46E;
}

.home .welcome .block-content {
  padding: 5em 2em 3em;
}

.home .welcome .bottom-text {
  max-width: 30em;
}

.home .welcome .staff-photo {
  padding: 0 1em 0 0;
  position: relative;
}

.home .welcome .staff-photo img {
  padding: 10% 0 20% 10%;
  position: relative;
  z-index: 1;
}

.home .welcome .staff-photo .bg-gold {
  background: #C6B46E;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 60%;
  z-index: 0;
}

.home .welcome .welcome-text {
  padding: 0 0 0 1em;
}

@media screen and (max-width: 600px) {
  .home .welcome .staff-photo {
    padding: 0 0 1em;
  }

  .home .welcome .welcome-text {
    padding: 1em 0 0;
  }
}

.services .block-services {
  background: #C6B46E;
}

.services .block-services .block-content {
  padding: 0;
}

.services .block-services .tile {
  background: #323232;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 22em;
  opacity: 1;
  padding: 1em;
  position: relative;
}

.services .block-services .tile .cover {
  background: rgba(50, 50, 50, 0.8);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: 0.15s all linear;
  transition: 0.15s all linear;
  width: 100%;
}

.services .block-services .tile .cover .cover-text {
  color: #C6B46E;
  line-height: 1.2;
  margin: 2em auto auto;
  text-align: center;
  width: 90%;
}

.services .block-services .tile .tile-title {
  background: rgba(198, 180, 110, 0.8);
  bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4em;
  left: 1em;
  overflow: hidden;
  padding: 0 1em;
  position: absolute;
  right: 1em;
}

.services .block-services .tile .tile-title h3 {
  margin: auto;
  text-align: center;
}

.services .block-services .tile::after {
  background: #fff;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: 2s opacity ease;
  transition: 2s opacity ease;
  width: 100%;
}

.services .block-services .tile.preload::after {
  opacity: 1;
}

.services .block-services .tile:hover .cover {
  opacity: 1;
}

.services .block-services .tile-1 {
  background-image: url("/images/services/dentaltoolsStock.jpg");
}

.services .block-services .tile-2 {
  background-image: url("/images/services/smileStock.jpg");
}

.services .block-services .tile-3 {
  background-image: url("/images/services/sleepingStock.jpg");
}

.services .block-services .tile-4 {
  background-image: url("/images/services/smile2Stock.jpg");
}

.services .block-services .tile-5 {
  background-image: url("/images/services/crownStock.jpg");
}

.services .block-services .tile-6 {
  background-image: url("/images/services/venneer2Stock.jpg");
}

.services .block-services .tiles {
  display: grid;
  grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
}

.services .block-testimonial {
  background: #323232;
  text-align: center;
}

.services .block-testimonial .btn {
  border: 3px solid #C6B46E;
  display: inline-block;
  margin-left: 2em;
  max-width: 10em;
  vertical-align: middle;
}

.services .block-testimonial .btn:hover {
  background: #C6B46E;
  color: #323232;
}

.services .block-testimonial .reviewer {
  margin-top: .5em;
  text-align: right;
}

.services .block-testimonial .text-cont {
  color: #C6B46E;
  display: inline-block;
  max-width: 30em;
  vertical-align: middle;
}

.services .block-testimonial .quote {
  font-style: italic;
}

.services .header {
  background: #323232;
}

.services .header .text-cont {
  background: #C6B46E;
  margin: auto;
  max-width: 25em;
  padding: 1.5em;
}

@media screen and (max-width: 768px) {
  .services .block-services .tile .tile-title {
    padding: 0 .5em;
  }

  .services .block-services .tiles {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 600px) {
  .services .block-services .tiles {
    grid-template-columns: 100%;
  }
}

