$black: #000;
$dark-gray: #303030;
$dark-gray-trans: transparentize($dark-gray, .2);
$green: #a4c0ac;
$gold: #C6B46E;
$gold-trans: transparentize($gold, .2);
$white: #fff;

$primary: $green;
$primary-trans: transparentize($primary, .2);
$primary-dark: darken($primary, .1);
$secondary: $dark-gray;
$secondary-trans: transparentize($secondary, .2);
$secondary-light: transparentize($secondary, .8);
$accent: $gold;

$text: $dark-gray;
$text-gold: $gold;
$text-primary: $primary-dark;