// Styles applied to the whole site

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.banner {
  background: $primary;
  box-shadow: 0 0 20px 3px rgba(0,0,0,.5);
  color: $text;
  display: flex;
  height: 6em;
  position: relative;
  
  & > * {
    margin: auto;
  }
}

.block {
  background: $white;
  color: $text;
  
  .block-content {
    margin: auto;
    max-width: $content-max-width;
    padding: 5em 0;
    position: relative;
    width: 90%;
  }
  
  &.spacer {
    .block-content {
      padding: 2.5em 0;
    }
  }
}

.bold {
  font-weight: bold;
}

.btn {
  background: $white;
  border: 3px solid $secondary-trans;
  color: $text;
  cursor: pointer;
  font-size: 1.6rem;
  padding: .2em 1em;
  @include transition();

  &:hover,
  &.active {
    background: $accent;
    box-shadow: none;
    color: $text;
  }
}

.clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.hide {
  display: none;
}

.img-bg {
  background: $primary;
  border-radius: 24px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

.no-scroll {
  overflow: hidden;
}

.relative {
  position: relative;
}

.show-on-desktop {
  display: block;
}

.show-on-mobile {
  display: none;
  
  .box {
    background: $primary;
    border-radius: 24px;
    @include box-shadow();
    padding: 1rem 2rem;
    text-align: center;
  }
}

.split-2 {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
  width: 50%;
  
  & + .split-2 {
    padding: 0 0 0 1em;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media screen and (max-width: $med) {
  .banner {
    display: none;
  }
  
  .block {
    .block-content {
      padding: 2em 0;
    }
    
    &.spacer {
      .block-content {
        display: none;
      }
    }
  }
  
  .img-bg {
    display: none;
  }
  
  .show-on-desktop {
    display: none;
  }
  
  .show-on-mobile {
    display: block;
  }
  
  .split-2 {
    display: block;
    padding: 0 0 1em;
    width: 100%;
    
    & + .split-2 {
      padding: 1em 0 0;
    }
  }
}