a {
  color: $text;
  text-decoration: none;
  @include transition();
}

.underline-link {
  border-bottom: 2px solid transparent;
  color: $text;
  @include transition();
  
  &:hover,
  &.active {
    border-color: $text-gold;
  }
}

a,
p {
  font-size: 1.3rem;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: 1.6em;
}

hr {
  &.spacer {
    background: $accent;
    border-radius: 6px;
    height: 6px;
    margin: 3em auto;
    max-width: 20em;
    width: 100%;
  }
}

html {
  color: $text;
  font-family: 'Lusitana', Times, serif;
  font-size: $font-size-html;
}

img {
  width: 100%;
}

p {
  line-height: 1.4;
}

ul {
  list-style: none;
}

.subtitle {
  font-size: 1.3rem;
  font-weight: bold;
}

.title {
  font-family: 'Tangerine', 'Courgette', cursive;
  font-size: 5em;
}

@media screen and (max-width: $med) {
  a,
  p {
    font-size: 1.75rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  p {
    line-height: 1.1;
  }

  .title {
    font-size: 4em;
  }
}