.footer {
  background: $primary;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 1em;
  
  .footer-item {
    text-align: center;
  }
  
  @media screen and (max-width: $med) {
    align-items: center;
    flex-direction: column;
    
    > *:not(:last-child) {
      margin-bottom: 2rem;
    }
    
    .footer-item:not(:last-child) {
      border-bottom: 2px solid $secondary-light;
      padding-bottom: 2em;
    }
  }
}