.footer {
  background: $primary;
  padding: 1em;
  
  .footer-items {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  
  .footer-item {
    text-align: center;
  }
  
  .mws-credit {
    margin-top: 30px;
    text-align: right;
    
    a {
      font-size: 14px;
    }
    
    .blue,
    .orange {
      @include transition();
    }
    
    &:hover {
      .blue {
        color: #96e6ff;
      }
      
      .orange {
        color: #ffd298;
      }
    }
  }
  
  @media screen and (max-width: $med) {
    align-items: center;
    flex-direction: column;
    
    > *:not(:last-child) {
      margin-bottom: 2rem;
    }
    
    .footer-item:not(:last-child) {
      border-bottom: 2px solid $secondary-light;
      padding-bottom: 2em;
    }
  }
}