.nav {
  background: $white;
  box-shadow: 0 0 20px 3px rgba(0,0,0,.5);
  height: $nav-height;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: $nav-z;

  .nav-link {
    display: inline-block;

    &.active {
      a {
        border-bottom: 2px solid $text-gold;
        color: $text-gold;
      }
    }
  }

  .nav-links {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-evenly;
  }
  
  & + .block {
    margin-top: $nav-height;
  }
}
